.policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

.policy .heading {
    font-size: 30px;
    font-weight: 600;
}

.policy .bread-crumb {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 30px;
}

.policy .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #e0e0e0;
    padding-block: 30px;
    padding-inline: 60px;
    border-radius: 30px;
    width: 80%;
}

.policy .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.policy .sub-heading {
    font-size: 20px;
    font-weight: 600;
    margin-block: 30px;
}